# Default ignored files
/shelf/
/workspace.xml
.DS_Store
.gitignore
/check_smartctl/.idea/
/check_smartctl/.DS_Store
/check_storcli/.idea/
/check_storcli/.DS_Store
/check_liebert_hvac/.idea/
/check_liebert_hvac/.DS_Store
/check_mitsubishi_ups/.idea/
/check_mitsubishi_ups/.DS_Store
/check_roomalert_12S/.idea/
/check_roomalert_12S/.DS_Store
/check_synology/.idea/
/check_synology/.DS_Store
/check_apc_pdu/.idea/
/check_apc_pdu/.DS_Store
.idea/Nagios-Plugins.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/check_apc_ups/.idea/check_apc_ups.iml
/check_apc_ups/.idea/inspectionProfiles/profiles_settings.xml
/check_apc_ups/.idea/misc.xml
/check_apc_ups/.idea/modules.xml
/check_apc_ups/.idea/vcs.xml
