##############################################################################
#
# check_CAT_generator.CFG - Main Config File for Nagios Check
# for Catapiller Generator 1.0.0
#
# Read the documentation for more information on this configuration
# file. 
#
#
##############################################################################


[LOG FILE]
# This is the main log file where service and host events are logged
# for historical purposes.

log_file=/usr/local/check_CAT_generator/var/log/check_CAT_generator.log



# OBJECT CONFIGURATION
# These are the object configuration in which you define series communication port,
# recording cadance, and mySQL database.


[COMMUNICATION SETTINGS]

# Generator Type
Generator_Type =D300GC

# Serial Port for Communication with Moxa TCP/IP module at Generator
Serial_Port = /dev/ttys001

# Modbus Address for Generator
Modbus_Address = 10

# Serial baudrate for CAT communication
Serial_Baudrate = 115200

# Serial timeout for CAT communication
Serial_Timeout = 1.0

# Serial delay for CAT communication
Serial_Request_Delay = 0.1



[GENERAL SETTINGS]

# Database recording cadance [seconds]
Cadance = 30

# Display the recorded data in the terminal [True / False]
Display = False

# Writes the recorded data in the SQL database [True / False]
Write_SQL = True

[MySQL SPECIFIC SETTINGS]

# In this section we specify the variables for the SQL database writer.

# MySQL server address, if hosted on the same machine: 'localhost'.
SQL_Host = 10.3.0.92

# MySQl username that has permissions to write data into the selected database.
SQL_User = generator_writer

# MySQL user password for the specified user.
SQL_Password = hcroGeneratorPW1!

# MySQL database which includes the correct table.
SQL_Database = grafanadata 

# MySQL table in defined database.
SQL_Table = hcro_d300gc_generator

# MySQL authentication method. Specifies the login method to the mysql server
SQL_Auth = mysql_native_password



